@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(116.88deg, #BDC4C6 -0.38%, #E7E9EB 100.58%);
}

section {
    width: 100%;
    position: relative;
}

.nav-bar {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw 6vw;
    z-index: 1000;
    /* background: #E7E9EB; */
}

.logo {
    color: #00003E;
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 0.1em;
}

.menu-items {
    display: flex;
    margin: auto 0;
}

.menu-items li {
    list-style: none;
    margin: 0 1.5em;
    text-decoration: none;
    
}

.menu-items a {
    display: block;
    color: #00003E;
    font-size: 1em;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.menu-items a:hover {
    color: rgb(5, 1, 1);
    font-weight: 500;
}

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;

    position: relative;
}

.text-box {
    width: 50%;
    padding-left: 5rem;
    padding-top: 3rem;
}

.text-box h1 {
    font-size: 2em;
    font-weight: 700;
    color: #00003E;
    line-height: 1.3em;
}

.text-box p {
    font-size: 0.9em;
    font-weight: 400;
    text-align: justify;
    color: #00003E;
    margin: 20px 0;
}

.text-box .btn {
    color: #00003E;
    padding: 5px 10px;
    border-radius: 10px;
    border-color: aliceblue;
    box-shadow: 0 5px 10px #00003E;
    letter-spacing: 0.3em;
    margin-bottom: 20px;
}

.text-box .btn:hover {
    cursor: pointer;
    color: black;
    font-weight: 500;
}

.social-icons {
    display: flex;
    gap: 0.4em;
    font-size: 2em;
    color: #00003E;
    
}

.image-container {
    display: flex; 
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;

    position: relative;
}

.image-box { 
    position: relative;
    min-height: 50vh;
    margin-right: -2em;
    padding-top: 2rem;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    max-width: 400px;
}

input {
    display: none;
    visibility: hidden;
    appearance: none
}

.nav-bar label {
    display: none;
}

/* making it responsive */

@media screen and (max-width: 900px) {
    
    body {
        overflow: auto;
    }

    .logo {
        font-size: 1.2em;
    }

    .nav-bar label {
        display: block;
        color: #00003E;
        background: rgb(216, 216, 120);
        padding: 6px 10px;
        font-size: 18px;
        border-radius: 2px;
        z-index: 1000;
        cursor: pointer;
    }

    .nav-bar label:hover {
        background: rgb(242, 242, 94);

    }   

    .menu-items {
        position: fixed;
        top: 0;
        right: -60vw;
        width: 200px;
        height: 100%;
        background: whitesmoke;
        padding-top: 10vw;
        padding-left: 3px;
        transition: 0.3s ease;

        display: flex;
        flex-direction: column;
    }

    .menu-items a {
        color: #00003E;
        font-size: 1em;
        font-weight: 300;
        padding: 2px 0;
        margin: 0 0;
    }

    .menu-items li:hover a {
        color: black;
        font-weight: 800;
    }

    #check:checked ~ section .nav-bar .menu-items {
        right: 0;   
    }

    .container {
        flex-wrap: wrap;
    }

    .text-box {
        width: 100%;
        padding: 7em 1.8em;
        z-index: 100;
    }

    .text-box h1 {
        font-size: 1.2em;
        font-weight: 700;
        color: #00003E;
        line-height: 1.3em;
    }

    .text-box p {
        font-size: 0.7em;
        font-weight: 400;
        /* text-align: justify;
        color: #00003E;
        margin: 20px 0; */
    }

    .text-box .btn {
        color: #00003E;
        padding: 3px 8px;
        border-radius: 10px;
        border-color: aliceblue;
        box-shadow: 0 5px 10px #00003E;
        letter-spacing: 0.2em;
        margin-bottom: 20px;
        font-size: 0.7em;
    }
    
    /* .text-box .btn:hover {
        cursor: pointer;
        color: black;
        font-weight: 500;
    } */

    .social-icons {
        display: flex;
        gap: 0.4em;
        font-size: 1.3em;
        color: #00003E;
        
    }

    .image-container {
        width: 100%;
        height: 22rem;
        margin-top: -100px;
        overflow: hidden;
    }


    .image-box {
        margin: 0;
    }
    .image-box img {
        width: 100%;
        max-width: 250px;
    }

    /* customizing scroll bar */
    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background-color: rgb(34, 30, 30);
    }
    ::-webkit-scrollbar-thumb {
        background-color: rgb(184, 170, 170);
        border-radius: 20px;
    }
}